@use './breakpoint' as bp;
@use './breakpoint-condition' as bpc;
@use './disable-scroll' as ds;

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}


body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  overflow: hidden;
}

.flex {
  display: flex;
  align-items: center;
  gap: 40px;
}

.container {
  max-width: 1196px;
  margin: 0 auto;

  @include bp.tablet {
    width: calc(100% - 44px);
  }

  include bp.mobile {
    width: calc(100% - 40px);
  }
}

.page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}



.header {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: #131417;
  color: white;
  padding: 17px 0 18px;
  box-shadow: 0px 4px 4px 0px #13141766;


  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 46px;
    height: 46px;

    &-icon {
      display: inline-block;
      background-image: url('./src/img/svg/logo.svg');
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__nav {

    @include bp.tablet {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 80px;
      right: -150%;
      bottom: 0;
      width: 100vw;
      height: 100vh;
      transition: .3s ease;
      background: #13141780;

      &.is-mobile-show {
        visibility: visible;
        opacity: 1;
        right: 0;
      }
    }

    .menu {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 40px;

      @include bp.tablet {
        gap: 0;
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        width: 374px;
        background-color: #131417;
        height: 100vh;
        overflow-y: auto;
      }

      @include bp.mobile {
        width: 100%;
      }

      &__item-drop {
        position: absolute;
        right: 0;
        top: 50%;
        transform: rotate(180deg);
        display: inline-flex;
        align-items: center;
        justify-self: center;
        transition: transform .3s ease;

        @include bp.tablet {
          position: static;
          display: inline-flex;
        }
      }

      li {
        position: relative;

        p {
          position: relative;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &.is-active {
          p {
            background-color: #131417;

            .menu__item-drop,
            .menu__submenu-item-drop {
              transform: rotate(0);
            }
          }

        }

        @include bp.desktop {
          &:hover {
            .menu__item-text {
              color: #EB5757;

              @include bp.tablet {
                color: #FAFAFA;
              }
            }

            .menu__item-drop {
              transform: rotate(0deg);
            }
          }
        }



        @include bp.tablet {
          background-color: #252830;
          padding: 0;
          width: 100%;

          &.active {
            .menu__item-text {
              background-color: #131417;
            }

            .menu__item-drop {
              transform: rotate(0deg);
            }
          }
        }

        a,
        p {
          color: white;
          text-decoration: none;
          cursor: pointer;
          padding: 8px 18px;
          transition: color 0.3s;

          @include bp.tablet {
            display: inline-block;
            padding: 20px;
            width: 100%;
            position: relative;
          }
        }

        .menu__submenu {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          list-style: none;
          border-radius: 5px;
          font-size: 16px;

          @include bp.tablet {
            position: static;
            display: block;
            height: 0;
            overflow: hidden;
          }

          &--level-1 {
            padding-top: 20px;
            top: 100%;
            width: 320px;

            @include bp.tablet {
              width: 100%;
              padding: 0;
            }

            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 47px;
              border: 14px solid transparent;
              border-bottom: 14px solid #252830;

              @include bp.tablet {
                content: none;
              }
            }

            &>li:last-child {
              border-radius: 0 0 8px 8px;

              @include bp.tablet {
                border-radius: 0;
              }
            }
          }

          &--level-2 {
            width: 202px;
            top: auto;
            left: 100%;
            bottom: 0;
            padding-left: 22px;
            border-radius: 16px;

            @include bp.tablet {
              width: 100%;
              padding: 0;
            }

            &:before {
              content: '';
              position: absolute;
              bottom: 8px;
              left: 0;
              border: 14px solid transparent;
              border-right: 14px solid #252830;

              @include bp.tablet {
                content: none;
              }
            }

            &>li:first-child {
              border-radius: 8px 8px 0 0;

              @include bp.tablet {
                border-radius: 0;
              }
            }

            &>li:last-child {
              border-radius: 0 0 8px 8px;

              @include bp.tablet {
                border-radius: 0;
              }
            }
          }

          &-item-drop {
            position: absolute;
            right: 0;
            top: 50%;
            display: inline-flex;
            align-items: center;
            justify-self: center;
            transform: rotate(180deg);
            transition: transform .3s ease;

            @include bp.mobile {
              right: 4px;
            }
          }

          li {
            display: flex;
            justify-content: space-between;
            background-color: #252830;
            transition: background-color .3s ease;

            @include bp.desktop {
              &:hover {
                background-color: #131417;

                .menu__submenu-item-drop {
                  transform: unset;
                }

                .menu__submenu-item-drop {
                  transform: rotate(90deg);
                }
              }
            }

            @include bp.tablet {
              flex-direction: column;

              &.active {
                .menu__submenu-item-drop {
                  transform: rotate(180deg);
                }
              }
            }

            &:hover {
              @include bp.tablet {
                background: #252830;
              }
            }

            a,
            p {
              position: relative;
              display: block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 300px;
              padding: 8px 18px;

              @include bp.tablet {
                padding: 20px;
                max-width: 100%;
              }
            }
          }
        }

        @include bp.desktop {
          &:hover>.menu__submenu {
            display: block;
          }
        }

      }
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;

    &-icon {
      display: inline-block;
      background-image: url('./src/img/svg/phone.svg');
      width: 18px;
      height: 18px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    @include bp.mobile {
      display: none;
    }

    &--mobile {
      display: none;

      @include bp.mobile {
        display: flex;
        align-items: center;
        justify-self: center;
        padding: 8px;

        .header__phone-icon {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  &__control {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__burger {
    display: none;

    @include bp.tablet {
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      padding: 10px;
      cursor: pointer;
    }

    svg {
      path {
        stroke: #fff;
      }
    }

    &.active {
      svg {
        path {
          stroke: #F2994A;
        }
      }
    }
  }
}